<div class="container">
  <div class="jumbotron">
    <h1 class="display-6">Transactions</h1>
    <p class="lead-1">Inclusion of a new transaction</p>
    <hr class="my-2">
    <div class="col-md-3">
      <label for="iDate" class="form-label">Date</label>
      <input type="date" [(ngModel)]="dateHour" class="form-control" id="iDate">
    </div>
    <div class="col-md-9">
      <label for="iClients" class="form-label">Client</label>
      <select id="iClients" [(ngModel)]="clientSelected" class="form-select">
        <option selected disabled>Select</option>
        <option *ngFor="let c of clients" [ngValue]="c">{{c.cpf}}-{{c.name}}</option>
      </select>
    </div>
    <div class="col-12">
      <label for="iDescription" class="form-label">Description</label>
      <input type="text" [(ngModel)]="description" class="form-control" id="iDescription" placeholder="Insert a description">
    </div>
    <div class="col-md-3">
      <label for="iType" class="form-label">Transaction Type</label>
      <select id="iType" [(ngModel)]="type" class="form-select">
        <option selected disabled>Select</option>
        <option>INCOME</option>
        <option>EXPENSES</option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="iValue" class="form-label">R$ Value</label>
      <input type="text" [(ngModel)]="value" class="form-control" id="iValue" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
    </div>
    <div class="d-grid gap-2 d-md-flex ">
      <button class="btn btn-outline-primary me-md-2" type="button" (click)="save()">Confirm</button>
      <a routerLink="/transactions" class="btn btn-outline-secondary">Cancel</a>
    </div>

  </div>

</div>
