<div class="container">
  <div class="jumbotron">
    <h1 class="display-6">Transactions</h1>
    <p class="lead-1">Transactions List by Clients</p>
    <hr class="my-2">
    <div class="input-group">
      <select  id="iCLient" [(ngModel)]="clientSelected" class="form-select">
        <option *ngFor="let c of clients" [ngValue]="c" >{{c.cpf}}-{{c.name}}</option>
      </select>
    <button class="btn btn-outline-secondary me-md-2 btn-sm" type="button" (click)="listTransitions()">Find</button>
    <a class="btn btn-outline-primary btn-sm" routerLink="/transition-new">New Transaction</a>
    <a class="btn btn-outline-primary btn-sm" routerLink="/clients">Clients</a>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date | Hour</th>
        <th scope="col">Description</th>
        <th scope="col">Value</th>
        <th scope="col">Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transition of transitions; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ transition.dateHour | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
        <td>{{ transition.description }}</td>
        <td [ngStyle]="{'color': transition.type === 'INCOME' ? 'blue' : 'red'}">{{ transition.value | currency:'BRL' }}</td>
        <td>{{ transition.type }}</td>
      </tr>
    </tbody>
  </table>
</div>
